:root {
    --error: #FF0000;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

body {
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    min-height: 100vh;
}

#root {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
}

.global-wrapper {
    display: flex;
    width: 100%;
    max-width: 900px;
    padding: 4em 0;
}

h1 {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bolder;
    background: -webkit-linear-gradient(
        5deg,
        #e73df0,
        #f03d72,
        #f08d3d,
        #ccf03d,
        #46f03d,
        #3df0ba,
        #3d9ff0,
        #613df0 
    );
    background-clip: content-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3.page-title {
    font-weight: lighter;
    font-size: 25px;
}

.error-text {
    color: var(--error);
}

i.fas,
i.far {
    color: #a1a1a1;
}

i.fa-heart:hover,
i.fa-heart:active {
    color: #FF0000;
    cursor: pointer;
}

i.fa-bookmark:hover,
i.fa-share-square:hover,
i.fa-bookmark:active,
i.fa-share-square:active {
    color: #91ceff;
}

.btn {
    padding: 8px 20px;
    border: none;
    background-color: #bebebe;
    letter-spacing: 0.15em;
    border-radius: 3px;
    margin: 5px;
    outline: none;
}

.btn:hover {
    cursor: pointer;
    background-color: #a1a1a1;
    box-shadow: 0 0 5px 1px #bebebe;
    transition: background-color .35s ease-in, box-shadow .35s ease-in;
}

.pink-btn {
    background: linear-gradient(45deg,
        #e73df0,
        #f03d72,
        #f08d3d 
    );
    color: #ffffff;
}

.pink-btn:hover {
    background: linear-gradient(45deg,
        #f08d3d,
        #f03d72,
        #e73df0 
    );
    padding: 8px 30px;
    transition: padding .35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.blue-btn {
    background: linear-gradient(45deg,
        #613df0,
        #3d9ff0,
        #3df0ba 
    );
    color: #ffffff;
}

.blue-btn:hover {
    background: linear-gradient(45deg,
        #3df0ba ,
        #3d9ff0,
        #613df0 
    );
    padding: 8px 30px;
    transition: padding .35s cubic-bezier(0.34, 1.56, 0.64, 1);
}

input,
textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px #a1a1a1 solid;
    margin: 3px 0;
    transition: box-shadow 1s ease-in, border-color 1s ease-in;
}

input {
    padding: .5em;
}

textarea {
    padding: 5px;
    height: 125px;
}

input:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px 1px #91ceff;
    border-color: #91ceff;
    transition: box-shadow 2s ease-out, border-color 1s ease-out;
}


/* header and footer styling */

header {
    width: 100%;
    padding: 1em;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    padding: 0 1em;
}

header nav ul {
    list-style: none;
    display: flex;
    align-self: flex-end;
    justify-content: center;
}

header nav ul li {
    padding: 0 2em;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
}

header nav ul li a:hover {
    display: inline-block;
    color: #a1a1a1;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

footer {
    background-color: #ffffff;
    width: 100%;
    position:fixed;
    bottom:0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer  h2 {
    font-size: 18px;
}

footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul li {
    padding: 0 1em;
}

footer ul li a {
    text-decoration: none;
    color: #000000;
    
}

footer ul li a:hover {
    display: inline-block;
    color: #a1a1a1;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    -ms-transform:rotate(180deg);
    transform:rotate(180deg);
}

/* home component styling  */

.home-palette-wrapper {
    display: flex;
    flex-direction: column;
    flex: 2 0 0;
    margin: 2em;
}

.filter-selection {
    display: flex;
    justify-content: flex-end;
}

.filter {
    padding: 2px 5px;
    border: #a1a1a1 solid 1px;
    border-radius: 3px;
    outline: none;
}

.filter:hover {
    box-shadow: 0 0 5px 1px #91ceff;
}

/* sidebar styling */

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    margin: 5em 0;
    margin-left: 5em;
    flex: 1 0 0;
}

.sidebar-title {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0.50em;
}

.daily-palette h4,
.weekly-palette h4,
.added-tags h4 {
    font-weight: lighter;
}

.daily-palette {
    margin-bottom: 2em;
}

/* .daily-palette:hover,
.weekly-palette:hover {
    padding: 1em;
    background-color: #f6f6f6;
    box-shadow: inset 0 0 5px 2px rgba(161, 161, 161, 0.50);
    border: solid 1px #a1a1a1;
    border-radius: 3px;
} */

.daily-palette:hover,
.weekly-palette:hover {
    cursor: pointer;
}

.searchbar-wrapper {
    margin-bottom: 1em;
}

/* palette styling */

.palette-wrapper {
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    padding: 2em;
    margin: 2em 0;
}

.palette-wrapper:hover {
    outline: none;
    border-color: #a1a1a1;
    box-shadow: 0 0 10px #a1a1a1;
    transition: box-shadow 0.5s ease-out;
    cursor: pointer;
}
.palette-title {
    font-size: 25px;
}

.palette-description {
    margin: 5px;
    font-size: 15px;
}

.likes-shares {
    display: flex;
    justify-content: space-between;
}

.likes-shares div i {
    margin: 0 5px;
}

/* color component  */

.color-wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    width: 100%;
    margin: .5em 0;
    padding: 0;
    padding-bottom: 66.666%;
}

.color-wrapper-aspect-ratio div {
    flex: 1 0 0;
}

.color-wrapper-aspect-ratio {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

/* login and signup styling */

.auth-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-panel {
    padding: 3em;
    width: 100%;
    max-width: 500px;
    border-radius: 2%;
}

.auth-panel-contents {
    background-color: #fff;
    border-radius: 2%;
    border: 1px solid #a1a1a1;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    color: #000;
    padding: 5em;
}

.pattern-diagonal-stripes-right {
    background: repeating-linear-gradient(135deg, transparent, transparent 25px, currentColor 25px, currentColor calc(2 * 25px));
    color: #f6f6f6;
    background-color: #f1f1f1;
}

.pattern-diagonal-stripes-left {
    background: repeating-linear-gradient(45deg, transparent, transparent 25px, currentColor 25px, currentColor calc(2 * 25px));
    color: #f1f1f1;
    background-color: #f6f6f6;
}

.auth-title {
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0.50em;
}

.auth-element {
    display: flex;
    flex-direction: column;
    margin: 0.78em 0;
}

/* create page styling  */

.create-pg-wrapper {
    margin-top: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 700px;
}

.create-palette-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.create-wrapper {
    
    width: 100%;
    display: flex;
    margin-top: 1em;
}

.create-form-wrapper {
    margin-right: 2em;
    flex: 0 0 300px;
}

.create-palette-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 2 0 0;
}

.create-palette-wrapper p {
    margin-top: 1.25em;
}

.create-color-div-wrapper {
    margin-top: 0.75em;
    border: 1px solid #f6f6f6;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    padding-bottom: 45%;
    width: 80%;
}

.add-tags-component {
    margin-top: 2em;
}

.add-tags-component form div {
    display: flex;
    flex-direction: column;
}

.added-tags {
    margin: 1em 0;
    display: flex;
    flex-wrap: wrap;
}

.tag-pill {
    background-color: #a1a1a1;
    border: none;
    color: #fff;
    padding: 5px 12px;
    margin: 10px 2px 0 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.tag-pill p {
    letter-spacing: 1px;
    font-size: 12px;
}

.tag-pill-delete {
    outline: none;
    background-color: transparent;
    color: #000;
    border: none;
    margin: 0px 4px;
    font-size: 20px;
}

.tag-pill-delete:hover {
    color: #FF0000;
    cursor: pointer;
}

.error-header {
    display: flex;
    align-items: center;
}

.added-tags h4 {
    width: 100%;
}

.active-color {
    border: solid 1px #fff;
}

/* detail palette page  */

.details-palette {
    flex: 1 0 0;
}

.details-preview {
    margin-left: 3em;
    margin-top: 2em;
    flex: 1 0 0;
}

.details-preview h4 {
    font-weight: lighter;
    font-size: 18px;
}

/* preview styling */

.preview-wrapper {
    margin-top: 5px;
    overflow: hidden;
    border-radius: 8px;
    width: 100%;
}

.preview-navs {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-ul {
    list-style: none;
    display: flex;
}

.preview-ul li {
    padding-left: 18px;
    font-size: 12px;
    display: inline-block;
}

.preview-ul li span {
    display: inline-block;
    padding: 5px;
}

.preview-CTA {
    padding: 3em 2.25em;
    display: flex;
    justify-content: center;
}

.preview-CTA p {
    font-size: 25px;
    font-weight: bolder;
}

.preview-main {
    display: flex;
    background-color: #fff;
    flex-direction: column;
}

.preview-circle-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    background-color: #f6f6f6;
}

.preview-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.preview-example-text {
    display: flex;
    padding:  30px 10px;
}

.preview-example-text p {
    letter-spacing: 1px;
    font-size: 0.75em;
    flex: 1 0 0;
    margin: 0 10px;
}

.preview-hex {
    margin-top: 3em;
}

.preview-hex  ul {
    list-style: none;
    display: flex;
    margin-top: 5px;
}

.preview-hex ul li {
    text-align: center;
}

.preview-hex-color{
    display: inline-block;
    padding: 5px;
    width: 100%;
}

.code-snippet {
    margin-top: 2.5em;
}

.code-background {
    background-color: #f6f6f6;
    margin-top: 5px;
    padding: 1em;
}

/* search bar component */

.search-container {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.search-btn {
    width: 20%;
}

.search-btn:hover i {
    color: #fff;
    transition: color .35s ease-in;
}

.search-btn i {
    color: #000;
}

input.search-input {
    float: left;
    width: 80%;
}

/* search gallery component */

.sg-page-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
}

.sg-header {
    display: flex;
    justify-content: space-between;
}

.gallery-description {
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}